<div class="container">
  <h2>Dinámica de Adivinanza de Contraseña</h2>
  
  <form (ngSubmit)="openPasswordModal()" #loginForm="ngForm">
    <label for="firstName">Nombre:</label>
    <input type="text" id="firstName" required [(ngModel)]="firstName" name="firstName">
    
    <label for="lastName">Apellido:</label>
    <input type="text" id="lastName" required [(ngModel)]="lastName" name="lastName">
    
    <button type="submit" [disabled]="!loginForm.form.valid">Continuar</button>
  </form>
</div>

<!-- Modal para adivinar la contraseña -->
<div *ngIf="showModal" class="modal">
  <div class="modal-content">
    <span (click)="closeModal()" class="close">&times;</span>
    <h3>Ingresa la contraseña</h3>
    <form (ngSubmit)="checkPassword()" #passwordForm="ngForm">
      <input type="password" required [(ngModel)]="inputPassword" name="password">
      <button type="submit">Adivinar</button>
    </form>
  </div>
</div>

<!-- Mensaje de alerta -->
<div *ngIf="showAlert" class="alert">
  <p>Fuiste hackeado!</p>
</div>
